<p>&nbsp;</p>
<table style="width: 978px; height: 130px;">
<tbody>
<tr>
<td style="width: 969.333px; text-align: center;" colspan="2">
<h3><strong>PLANILHA DE OPERA&Ccedil;&Atilde;O</strong></h3>
</td>
</tr>
<tr>
<td style="width: 969.333px;" colspan="2"><strong>EMBARCA&Ccedil;&Atilde;O: BELEZA NATIVA</strong></td>
</tr>
<tr>
<td style="width: 969.333px;" colspan="2"><strong>DATA: {{data_reserva}}&nbsp; </strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<strong> HOR&Aacute;RIO: 08:30</strong></td>
</tr>
<tr>
<td style="width: 969.333px;" colspan="2">&nbsp;</td>
</tr>
</tbody>
</table>
<table style="border-collapse: collapse; width: 99.1213%; height: 1138px;" border="1">
<tbody>
<tr style="height: 18px;">
<td style="width: 1.22094%; height: 18px;">#</td>
<td style="width: 21.8416%; text-align: center; height: 18px;"><strong>NOME</strong></td>
<td style="width: 9.33849%; text-align: center; height: 18px;"><strong>CPF</strong></td>
<td style="width: 9.35344%; text-align: center; height: 18px;"><strong>TELEFONE</strong></td>
<td style="width: 6.13493%; text-align: center; height: 18px;"><strong>COMISSARIO</strong></td>
<td style="width: 4.25743%; text-align: center; height: 18px;"><strong>CERT</strong></td>
<td style="width: 5.57182%; text-align: center; height: 18px;"><strong>FOTO</strong></td>
<td style="width: 4.36565%; text-align: center; height: 18px;"><strong>DM</strong></td>
<td style="width: 5.0513%; text-align: center; height: 18px;"><strong>ROUPA</strong></td>
</tr>
<tr style="height: 18px;">
<td style="width: 1.22094%; height: 18px; text-align: center;">1</td>
<td style="width: 21.8416%; height: 18px; {% if background_colors[0] == '#00B0F0' %}background-color: #00B0F0;{% elif background_colors[0] == 'yellow' %}background-color: yellow;{% elif background_colors[0] == 'white' %}background-color: white;{% endif %}">
  <div>{{ cliente[0]|decode }}</div>
</td>
<td style="width: 9.33849%; height: 18px;">{{cpf[0]}}</td>
<td style="width: 9.35344%; height: 18px;">{{tel[0]}}</td>
<td style="width: 6.13493%; height: 18px;">{{comissario[0]}}</td>
<td style="width: 4.25743%; height: 18px;">{{c[0]}}</td>
<td style="width: 5.57182%; height: 18px;">{{f[0]}}</td>
<td style="width: 4.36565%; height: 18px;">{{dm[0]}}</td>
<td style="width: 5.0513%; height: 18px;">{{r[0]}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 1.22094%; height: 18px; text-align: center;">2</td>
<td style="width: 21.8416%; height: 18px; {% if background_colors[1] == '#00B0F0' %}background-color: #00B0F0;{% elif background_colors[1] == 'yellow' %}background-color: yellow;{% elif background_colors[1] == 'white' %}background-color: white;{% endif %}">
  <div>{{ cliente[1]|decode }}</div>
<td style="width: 9.33849%; height: 18px;">{{cpf[1]}}</td>
<td style="width: 9.35344%; height: 18px;">{{tel[1]}}</td>
<td style="width: 6.13493%; height: 18px;">{{comissario[1]}}</td>
<td style="width: 4.25743%; height: 18px;">{{c[1]}}</td>
<td style="width: 5.57182%; height: 18px;">{{f[1]}}</td>
<td style="width: 4.36565%; height: 18px;">{{dm[1]}}</td>
<td style="width: 5.0513%; height: 18px;">{{r[1]}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 1.22094%; height: 18px; text-align: center;">3</td>
<td style="width: 21.8416%; height: 18px; {% if background_colors[2] == '#00B0F0' %}background-color: #00B0F0;{% elif background_colors[2] == 'yellow' %}background-color: yellow;{% elif background_colors[2] == 'white' %}background-color: white;{% endif %}">
  <div>{{ cliente[2]|decode }}</div>
<td style="width: 9.33849%; height: 18px;">{{cpf[2]}}</td>
<td style="width: 9.35344%; height: 18px;">{{tel[2]}}</td>
<td style="width: 6.13493%; height: 18px;">{{comissario[2]}}</td>
<td style="width: 4.25743%; height: 18px;">{{c[2]}}</td>
<td style="width: 5.57182%; height: 18px;">{{f[2]}}</td>
<td style="width: 4.36565%; height: 18px;">{{dm[2]}}</td>
<td style="width: 5.0513%; height: 18px;">{{r[2]}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 1.22094%; height: 18px; text-align: center;">4</td>
<td style="width: 21.8416%; height: 18px; {% if background_colors[3] == '#00B0F0' %}background-color: #00B0F0;{% elif background_colors[3] == 'yellow' %}background-color: yellow;{% elif background_colors[3] == 'white' %}background-color: white;{% endif %}">
  <div>{{ cliente[3]|decode }}</div>
<td style="width: 9.33849%; height: 18px;">{{cpf[3]}}</td>
<td style="width: 9.35344%; height: 18px;">{{tel[3]}}</td>
<td style="width: 6.13493%; height: 18px;">{{comissario[3]}}</td>
<td style="width: 4.25743%; height: 18px;">{{c[3]}}</td>
<td style="width: 5.57182%; height: 18px;">{{f[3]}}</td>
<td style="width: 4.36565%; height: 18px;">{{dm[3]}}</td>
<td style="width: 5.0513%; height: 18px;">{{r[3]}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 1.22094%; height: 18px; text-align: center;">5</td>
<td style="width: 21.8416%; height: 18px; {% if background_colors[4] == '#00B0F0' %}background-color: #00B0F0;{% elif background_colors[4] == 'yellow' %}background-color: yellow;{% elif background_colors[4] == 'white' %}background-color: white;{% endif %}">
  <div>{{ cliente[4]|decode }}</div>
<td style="width: 9.33849%; height: 18px;">{{cpf[4]}}</td>
<td style="width: 9.35344%; height: 18px;">{{tel[4]}}</td>
<td style="width: 6.13493%; height: 18px;">{{comissario[4]}}</td>
<td style="width: 4.25743%; height: 18px;">{{c[4]}}</td>
<td style="width: 5.57182%; height: 18px;">{{f[4]}}</td>
<td style="width: 4.36565%; height: 18px;">{{dm[4]}}</td>
<td style="width: 5.0513%; height: 18px;">{{r[4]}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 1.22094%; height: 18px; text-align: center;">6</td>
<td style="width: 21.8416%; height: 18px; {% if background_colors[5] == '#00B0F0' %}background-color: #00B0F0;{% elif background_colors[5] == 'yellow' %}background-color: yellow;{% elif background_colors[5] == 'white' %}background-color: white;{% endif %}">
  <div>{{ cliente[5]|decode }}</div>
<td style="width: 9.33849%; height: 18px;">{{cpf[5]}}</td>
<td style="width: 9.35344%; height: 18px;">{{tel[5]}}</td>
<td style="width: 6.13493%; height: 18px;">{{comissario[5]}}</td>
<td style="width: 4.25743%; height: 18px;">{{c[5]}}</td>
<td style="width: 5.57182%; height: 18px;">{{f[5]}}</td>
<td style="width: 4.36565%; height: 18px;">{{dm[5]}}</td>
<td style="width: 5.0513%; height: 18px;">{{r[5]}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 1.22094%; height: 18px; text-align: center;">7</td>
<td style="width: 21.8416%; height: 18px; {% if background_colors[6] == '#00B0F0' %}background-color: #00B0F0;{% elif background_colors[6] == 'yellow' %}background-color: yellow;{% elif background_colors[6] == 'white' %}background-color: white;{% endif %}">
  <div>{{ cliente[6]|decode }}</div>
<td style="width: 9.33849%; height: 18px;">{{cpf[6]}}</td>
<td style="width: 9.35344%; height: 18px;">{{tel[6]}}</td>
<td style="width: 6.13493%; height: 18px;">{{comissario[6]}}</td>
<td style="width: 4.25743%; height: 18px;">{{c[6]}}</td>
<td style="width: 5.57182%; height: 18px;">{{f[6]}}</td>
<td style="width: 4.36565%; height: 18px;">{{dm[6]}}</td>
<td style="width: 5.0513%; height: 18px;">{{r[6]}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 1.22094%; height: 18px; text-align: center;">8</td>
<td style="width: 21.8416%; height: 18px; {% if background_colors[7] == '#00B0F0' %}background-color: #00B0F0;{% elif background_colors[7] == 'yellow' %}background-color: yellow;{% elif background_colors[7] == 'white' %}background-color: white;{% endif %}">
  <div>{{ cliente[7]|decode }}</div>
<td style="width: 9.33849%; height: 18px;">{{cpf[7]}}</td>
<td style="width: 9.35344%; height: 18px;">{{tel[7]}}</td>
<td style="width: 6.13493%; height: 18px;">{{comissario[7]}}</td>
<td style="width: 4.25743%; height: 18px;">{{c[7]}}</td>
<td style="width: 5.57182%; height: 18px;">{{f[7]}}</td>
<td style="width: 4.36565%; height: 18px;">{{dm[7]}}</td>
<td style="width: 5.0513%; height: 18px;">{{r[7]}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 1.22094%; height: 18px; text-align: center;">9</td>
<td style="width: 21.8416%; height: 18px; {% if background_colors[8] == '#00B0F0' %}background-color: #00B0F0;{% elif background_colors[8] == 'yellow' %}background-color: yellow;{% elif background_colors[8] == 'white' %}background-color: white;{% endif %}">
  <div>{{ cliente[8]|decode }}</div>
<td style="width: 9.33849%; height: 18px;">{{cpf[8]}}</td>
<td style="width: 9.35344%; height: 18px;">{{tel[8]}}</td>
<td style="width: 6.13493%; height: 18px;">{{comissario[8]}}</td>
<td style="width: 4.25743%; height: 18px;">{{c[8]}}</td>
<td style="width: 5.57182%; height: 18px;">{{f[8]}}</td>
<td style="width: 4.36565%; height: 18px;">{{dm[8]}}</td>
<td style="width: 5.0513%; height: 18px;">{{r[8]}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 1.22094%; height: 18px; text-align: center;">10</td>
<td style="width: 21.8416%; height: 18px; {% if background_colors[9] == '#00B0F0' %}background-color: #00B0F0;{% elif background_colors[9] == 'yellow' %}background-color: yellow;{% elif background_colors[9] == 'white' %}background-color: white;{% endif %}">
  <div>{{ cliente[9]|decode }}</div>
<td style="width: 9.33849%; height: 18px;">{{cpf[9]}}</td>
<td style="width: 9.35344%; height: 18px;">{{tel[9]}}</td>
<td style="width: 6.13493%; height: 18px;">{{comissario[9]}}</td>
<td style="width: 4.25743%; height: 18px;">{{c[9]}}</td>
<td style="width: 5.57182%; height: 18px;">{{f[9]}}</td>
<td style="width: 4.36565%; height: 18px;">{{dm[9]}}</td>
<td style="width: 5.0513%; height: 18px;">{{r[9]}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 1.22094%; height: 18px; text-align: center;">11</td>
<td style="width: 21.8416%; height: 18px; {% if background_colors[10] == '#00B0F0' %}background-color: #00B0F0;{% elif background_colors[10] == 'yellow' %}background-color: yellow;{% elif background_colors[10] == 'white' %}background-color: white;{% endif %}">
  <div>{{ cliente[10] }}</div>
<td style="width: 9.33849%; height: 18px;">{{cpf[10]}}</td>
<td style="width: 9.35344%; height: 18px;">{{tel[10]}}</td>
<td style="width: 6.13493%; height: 18px;">{{comissario[10]}}</td>
<td style="width: 4.25743%; height: 18px;">{{c[10]}}</td>
<td style="width: 5.57182%; height: 18px;">{{f[10]}}</td>
<td style="width: 4.36565%; height: 18px;">{{dm[10]}}</td>
<td style="width: 5.0513%; height: 18px;">{{r[10]}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 1.22094%; height: 18px; text-align: center;">12</td>
<td style="width: 21.8416%; height: 18px; {% if background_colors[11] == '#00B0F0' %}background-color: #00B0F0;{% elif background_colors[11] == 'yellow' %}background-color: yellow;{% elif background_colors[11] == 'white' %}background-color: white;{% endif %}">
  <div>{{ cliente[11] }}</div>
<td style="width: 9.33849%; height: 18px;">{{cpf[11]}}</td>
<td style="width: 9.35344%; height: 18px;">{{tel[11]}}</td>
<td style="width: 6.13493%; height: 18px;">{{comissario[11]}}</td>
<td style="width: 4.25743%; height: 18px;">{{c[11]}}</td>
<td style="width: 5.57182%; height: 18px;">{{f[11]}}</td>
<td style="width: 4.36565%; height: 18px;">{{dm[11]}}</td>
<td style="width: 5.0513%; height: 18px;">{{r[11]}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 1.22094%; height: 18px; text-align: center;">13</td>
<td style="width: 21.8416%; height: 18px; {% if background_colors[12] == '#00B0F0' %}background-color: #00B0F0;{% elif background_colors[12] == 'yellow' %}background-color: yellow;{% elif background_colors[12] == 'white' %}background-color: white;{% endif %}">
  <div>{{ cliente[12] }}</div>
<td style="width: 9.33849%; height: 18px;">{{cpf[12]}}</td>
<td style="width: 9.35344%; height: 18px;">{{tel[12]}}</td>
<td style="width: 6.13493%; height: 18px;">{{comissario[12]}}</td>
<td style="width: 4.25743%; height: 18px;">{{c[12]}}</td>
<td style="width: 5.57182%; height: 18px;">{{f[12]}}</td>
<td style="width: 4.36565%; height: 18px;">{{dm[12]}}</td>
<td style="width: 5.0513%; height: 18px;">{{r[12]}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 1.22094%; height: 18px; text-align: center;">14</td>
<td style="width: 21.8416%; height: 18px; {% if background_colors[13] == '#00B0F0' %}background-color: #00B0F0;{% elif background_colors[13] == 'yellow' %}background-color: yellow;{% elif background_colors[13] == 'white' %}background-color: white;{% endif %}">
  <div>{{ cliente[13] }}</div>
<td style="width: 9.33849%; height: 18px;">{{cpf[13]}}</td>
<td style="width: 9.35344%; height: 18px;">{{tel[13]}}</td>
<td style="width: 6.13493%; height: 18px;">{{comissario[13]}}</td>
<td style="width: 4.25743%; height: 18px;">{{c[13]}}</td>
<td style="width: 5.57182%; height: 18px;">{{f[13]}}</td>
<td style="width: 4.36565%; height: 18px;">{{dm[13]}}</td>
<td style="width: 5.0513%; height: 18px;">{{r[13]}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 1.22094%; height: 18px; text-align: center;">15</td>
<td style="width: 21.8416%; height: 18px; {% if background_colors[14] == '#00B0F0' %}background-color: #00B0F0;{% elif background_colors[14] == 'yellow' %}background-color: yellow;{% elif background_colors[14] == 'white' %}background-color: white;{% endif %}">
  <div>{{ cliente[14] }}</div>
<td style="width: 9.33849%; height: 18px;">{{cpf[14]}}</td>
<td style="width: 9.35344%; height: 18px;">{{tel[14]}}</td>
<td style="width: 6.13493%; height: 18px;">{{comissario[14]}}</td>
<td style="width: 4.25743%; height: 18px;">{{c[14]}}</td>
<td style="width: 5.57182%; height: 18px;">{{f[14]}}</td>
<td style="width: 4.36565%; height: 18px;">{{dm[14]}}</td>
<td style="width: 5.0513%; height: 18px;">{{r[14]}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 1.22094%; height: 18px; text-align: center;">16</td>
<td style="width: 21.8416%; height: 18px; {% if background_colors[15] == '#00B0F0' %}background-color: #00B0F0;{% elif background_colors[15] == 'yellow' %}background-color: yellow;{% elif background_colors[15] == 'white' %}background-color: white;{% endif %}">
  <div>{{ cliente[15] }}</div>
<td style="width: 9.33849%; height: 18px;">{{cpf[15]}}</td>
<td style="width: 9.35344%; height: 18px;">{{tel[15]}}</td>
<td style="width: 6.13493%; height: 18px;">{{comissario[15]}}</td>
<td style="width: 4.25743%; height: 18px;">{{c[15]}}</td>
<td style="width: 5.57182%; height: 18px;">{{f[15]}}</td>
<td style="width: 4.36565%; height: 18px;">{{dm[15]}}</td>
<td style="width: 5.0513%; height: 18px;">{{r[15]}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 1.22094%; height: 18px; text-align: center;">17</td>
<td style="width: 21.8416%; height: 18px; {% if background_colors[16] == '#00B0F0' %}background-color: #00B0F0;{% elif background_colors[16] == 'yellow' %}background-color: yellow;{% elif background_colors[16] == 'white' %}background-color: white;{% endif %}">
  <div>{{ cliente[16] }}</div>
<td style="width: 9.33849%; height: 18px;">{{cpf[16]}}</td>
<td style="width: 9.35344%; height: 18px;">{{tel[16]}}</td>
<td style="width: 6.13493%; height: 18px;">{{comissario[16]}}</td>
<td style="width: 4.25743%; height: 18px;">{{c[16]}}</td>
<td style="width: 5.57182%; height: 18px;">{{f[16]}}</td>
<td style="width: 4.36565%; height: 18px;">{{dm[16]}}</td>
<td style="width: 5.0513%; height: 18px;">{{r[16]}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 1.22094%; height: 18px; text-align: center;">18</td>
<td style="width: 21.8416%; height: 18px; {% if background_colors[17] == '#00B0F0' %}background-color: #00B0F0;{% elif background_colors[17] == 'yellow' %}background-color: yellow;{% elif background_colors[17] == 'white' %}background-color: white;{% endif %}">
  <div>{{ cliente[17] }}</div>
<td style="width: 9.33849%; height: 18px;">{{cpf[17]}}</td>
<td style="width: 9.35344%; height: 18px;">{{tel[17]}}</td>
<td style="width: 6.13493%; height: 18px;">{{comissario[17]}}</td>
<td style="width: 4.25743%; height: 18px;">{{c[17]}}</td>
<td style="width: 5.57182%; height: 18px;">{{f[17]}}</td>
<td style="width: 4.36565%; height: 18px;">{{dm[17]}}</td>
<td style="width: 5.0513%; height: 18px;">{{r[17]}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 1.22094%; height: 18px; text-align: center;">19</td>
<td style="width: 21.8416%; height: 18px; {% if background_colors[18] == '#00B0F0' %}background-color: #00B0F0;{% elif background_colors[18] == 'yellow' %}background-color: yellow;{% elif background_colors[18] == 'white' %}background-color: white;{% endif %}">
  <div>{{ cliente[18] }}</div>
<td style="width: 9.33849%; height: 18px;">{{cpf[18]}}</td>
<td style="width: 9.35344%; height: 18px;">{{tel[18]}}</td>
<td style="width: 6.13493%; height: 18px;">{{comissario[18]}}</td>
<td style="width: 4.25743%; height: 18px;">{{c[18]}}</td>
<td style="width: 5.57182%; height: 18px;">{{f[18]}}</td>
<td style="width: 4.36565%; height: 18px;">{{dm[18]}}</td>
<td style="width: 5.0513%; height: 18px;">{{r[18]}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 1.22094%; height: 18px; text-align: center;">20</td>
<td style="width: 21.8416%; height: 18px; {% if background_colors[19] == '#00B0F0' %}background-color: #00B0F0;{% elif background_colors[19] == 'yellow' %}background-color: yellow;{% elif background_colors[19] == 'white' %}background-color: white;{% endif %}">
  <div>{{ cliente[19] }}</div>
<td style="width: 9.33849%; height: 18px;">{{cpf[19]}}</td>
<td style="width: 9.35344%; height: 18px;">{{tel[19]}}</td>
<td style="width: 6.13493%; height: 18px;">{{comissario[19]}}</td>
<td style="width: 4.25743%; height: 18px;">{{c[19]}}</td>
<td style="width: 5.57182%; height: 18px;">{{f[19]}}</td>
<td style="width: 4.36565%; height: 18px;">{{dm[19]}}</td>
<td style="width: 5.0513%; height: 18px;">{{r[19]}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 1.22094%; height: 18px; text-align: center;">21</td>
<td style="width: 21.8416%; height: 18px; {% if background_colors[20] == '#00B0F0' %}background-color: #00B0F0;{% elif background_colors[20] == 'yellow' %}background-color: yellow;{% elif background_colors[20] == 'white' %}background-color: white;{% endif %}">
  <div>{{ cliente[20] }}</div>
<td style="width: 9.33849%; height: 18px;">{{cpf[20]}}</td>
<td style="width: 9.35344%; height: 18px;">{{tel[20]}}</td>
<td style="width: 6.13493%; height: 18px;">{{comissario[20]}}</td>
<td style="width: 4.25743%; height: 18px;">{{c[20]}}</td>
<td style="width: 5.57182%; height: 18px;">{{f[20]}}</td>
<td style="width: 4.36565%; height: 18px;">{{dm[20]}}</td>
<td style="width: 5.0513%; height: 18px;">{{r[20]}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 1.22094%; height: 18px; text-align: center;">22</td>
<td style="width: 21.8416%; height: 18px; background-color:{{background_color}};">{{cliente[21]}}</td>
<td style="width: 9.33849%; height: 18px;">{{cpf[21]}}</td>
<td style="width: 9.35344%; height: 18px;">{{tel[21]}}</td>
<td style="width: 6.13493%; height: 18px;">{{comissario[21]}}</td>
<td style="width: 4.25743%; height: 18px;">{{c[21]}}</td>
<td style="width: 5.57182%; height: 18px;">{{f[21]}}</td>
<td style="width: 4.36565%; height: 18px;">{{dm[21]}}</td>
<td style="width: 5.0513%; height: 18px;">{{r[21]}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 1.22094%; height: 18px; text-align: center;">23</td>
<td style="width: 21.8416%; height: 18px; background-color: {{background_color}};">{{cliente[22]}}</td>
<td style="width: 9.33849%; height: 18px;">{{cpf[22]}}</td>
<td style="width: 9.35344%; height: 18px;">{{tel[22]}}</td>
<td style="width: 6.13493%; height: 18px;">{{comissario[22]}}</td>
<td style="width: 4.25743%; height: 18px;">{{c[22]}}</td>
<td style="width: 5.57182%; height: 18px;">{{f[22]}}</td>
<td style="width: 4.36565%; height: 18px;">{{dm[22]}}</td>
<td style="width: 5.0513%; height: 18px;">{{r[22]}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 1.22094%; height: 18px; text-align: center;">24</td>
<td style="width: 21.8416%; height: 18px; background-color:{{background_color}};">{{cliente[23]}}</td>
<td style="width: 9.33849%; height: 18px;">{{cpf[23]}}</td>
<td style="width: 9.35344%; height: 18px;">{{tel[23]}}</td>
<td style="width: 6.13493%; height: 18px;">{{comissario[23]}}</td>
<td style="width: 4.25743%; height: 18px;">{{c[23]}}</td>
<td style="width: 5.57182%; height: 18px;">{{f[23]}}</td>
<td style="width: 4.36565%; height: 18px;">{{dm[23]}}</td>
<td style="width: 5.0513%; height: 18px;">{{r[23]}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 1.22094%; height: 18px; text-align: center;">25</td>
<td style="width: 21.8416%; height: 18px; background-color: {{background_color}};">{{cliente[24]}}</td>
<td style="width: 9.33849%; height: 18px;">{{cpf[24]}}</td>
<td style="width: 9.35344%; height: 18px;">{{tel[24]}}</td>
<td style="width: 6.13493%; height: 18px;">{{comissario[24]}}</td>
<td style="width: 4.25743%; height: 18px;">{{c[24]}}</td>
<td style="width: 5.57182%; height: 18px;">{{f[24]}}</td>
<td style="width: 4.36565%; height: 18px;">{{dm[24]}}</td>
<td style="width: 5.0513%; height: 18px;">{{r[24]}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 1.22094%; height: 18px; text-align: center;">26</td>
<td style="width: 21.8416%; height: 18px; background-color:{{background_color}};">{{cliente[25]}}</td>
<td style="width: 9.33849%; height: 18px;">{{cpf[25]}}</td>
<td style="width: 9.35344%; height: 18px;">{{tel[25]}}</td>
<td style="width: 6.13493%; height: 18px;">{{comissario[25]}}</td>
<td style="width: 4.25743%; height: 18px;">{{c[25]}}</td>
<td style="width: 5.57182%; height: 18px;">{{f[25]}}</td>
<td style="width: 4.36565%; height: 18px;">{{dm[25]}}</td>
<td style="width: 5.0513%; height: 18px;">{{r[25]}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 1.22094%; height: 18px; text-align: center;">27</td>
<td style="width: 21.8416%; height: 18px; background-color: {{background_color}};">{{cliente[26]}}</td>
<td style="width: 9.33849%; height: 18px;">{{cpf[26]}}</td>
<td style="width: 9.35344%; height: 18px;">{{tel[26]}}</td>
<td style="width: 6.13493%; height: 18px;">{{comissario[26]}}</td>
<td style="width: 4.25743%; height: 18px;">{{c[26]}}</td>
<td style="width: 5.57182%; height: 18px;">{{f[26]}}</td>
<td style="width: 4.36565%; height: 18px;">{{dm[26]}}</td>
<td style="width: 5.0513%; height: 18px;">{{r[26]}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 1.22094%; height: 18px; text-align: center;">28</td>
<td style="width: 21.8416%; height: 18px; background-color: {{background_color}};">{{cliente[27]}}</td>
<td style="width: 9.33849%; height: 18px;">{{cpf[27]}}</td>
<td style="width: 9.35344%; height: 18px;">{{tel[27]}}</td>
<td style="width: 6.13493%; height: 18px;">{{comissario[27]}}</td>
<td style="width: 4.25743%; height: 18px;">{{c[27]}}</td>
<td style="width: 5.57182%; height: 18px;">{{f[27]}}</td>
<td style="width: 4.36565%; height: 18px;">{{dm[27]}}</td>
<td style="width: 5.0513%; height: 18px;">{{r[27]}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 1.22094%; height: 18px; text-align: center;">29</td>
<td style="width: 21.8416%; height: 18px; background-color: {{background_color}};">{{cliente[28]}}</td>
<td style="width: 9.33849%; height: 18px;">{{cpf[28]}}</td>
<td style="width: 9.35344%; height: 18px;">{{tel[28]}}</td>
<td style="width: 6.13493%; height: 18px;">{{comissario[28]}}</td>
<td style="width: 4.25743%; height: 18px;">{{c[28]}}</td>
<td style="width: 5.57182%; height: 18px;">{{f[28]}}</td>
<td style="width: 4.36565%; height: 18px;">{{dm[28]}}</td>
<td style="width: 5.0513%; height: 18px;">{{r[28]}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 1.22094%; height: 18px; text-align: center;">30</td>
<td style="width: 21.8416%; height: 18px; background-color: {{background_color}};">{{cliente[29]}}</td>
<td style="width: 9.33849%; height: 18px;">{{cpf[29]}}</td>
<td style="width: 9.35344%; height: 18px;">{{tel[29]}}</td>
<td style="width: 6.13493%; height: 18px;">{{comissario[29]}}</td>
<td style="width: 4.25743%; height: 18px;">{{c[29]}}</td>
<td style="width: 5.57182%; height: 18px;">{{f[29]}}</td>
<td style="width: 4.36565%; height: 18px;">{{dm[29]}}</td>
<td style="width: 5.0513%; height: 18px;">{{r[29]}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 1.22094%; height: 18px; text-align: center;">31</td>
<td style="width: 21.8416%; height: 18px; background-color: {{background_color}};">{{cliente[30]}}</td>
<td style="width: 9.33849%; height: 18px;">{{cpf[30]}}</td>
<td style="width: 9.35344%; height: 18px;">{{tel[30]}}</td>
<td style="width: 6.13493%; height: 18px;">{{comissario[30]}}</td>
<td style="width: 4.25743%; height: 18px;">{{c[30]}}</td>
<td style="width: 5.57182%; height: 18px;">{{f[30]}}</td>
<td style="width: 4.36565%; height: 18px;">{{dm[30]}}</td>
<td style="width: 5.0513%; height: 18px;">{{r[30]}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 1.22094%; height: 18px; text-align: center;">32</td>
<td style="width: 21.8416%; height: 18px; background-color: {{background_color}};">{{cliente[31]}}</td>
<td style="width: 9.33849%; height: 18px;">{{cpf[31]}}</td>
<td style="width: 9.35344%; height: 18px;">{{tel[31]}}</td>
<td style="width: 6.13493%; height: 18px;">{{comissario[31]}}</td>
<td style="width: 4.25743%; height: 18px;">{{c[31]}}</td>
<td style="width: 5.57182%; height: 18px;">{{f[31]}}</td>
<td style="width: 4.36565%; height: 18px;">{{dm[31]}}</td>
<td style="width: 5.0513%; height: 18px;">{{r[31]}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 1.22094%; height: 18px; text-align: center;">33</td>
<td style="width: 21.8416%; height: 18px; background-color: {{background_color}};">{{cliente[32]}}</td>
<td style="width: 9.33849%; height: 18px;">{{cpf[32]}}</td>
<td style="width: 9.35344%; height: 18px;">{{tel[32]}}</td>
<td style="width: 6.13493%; height: 18px;">{{comissario[32]}}</td>
<td style="width: 4.25743%; height: 18px;">{{c[32]}}</td>
<td style="width: 5.57182%; height: 18px;">{{f[32]}}</td>
<td style="width: 4.36565%; height: 18px;">{{dm[32]}}</td>
<td style="width: 5.0513%; height: 18px;">{{r[32]}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 1.22094%; height: 18px; text-align: center;">34</td>
<td style="width: 21.8416%; height: 18px; background-color:{{background_color}};">{{cliente[33]}}</td>
<td style="width: 9.33849%; height: 18px;">{{cpf[33]}}</td>
<td style="width: 9.35344%; height: 18px;">{{tel[33]}}</td>
<td style="width: 6.13493%; height: 18px;">{{comissario[33]}}</td>
<td style="width: 4.25743%; height: 18px;">{{c[33]}}</td>
<td style="width: 5.57182%; height: 18px;">{{f[33]}}</td>
<td style="width: 4.36565%; height: 18px;">{{dm[33]}}</td>
<td style="width: 5.0513%; height: 18px;">{{r[33]}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 1.22094%; height: 18px; text-align: center;">35</td>
<td style="width: 21.8416%; height: 18px; background-color: {{background_color}};">{{cliente[34]}}</td>
<td style="width: 9.33849%; height: 18px;">{{cpf[34]}}</td>
<td style="width: 9.35344%; height: 18px;">{{tel[34]}}</td>
<td style="width: 6.13493%; height: 18px;">{{comissario[34]}}</td>
<td style="width: 4.25743%; height: 18px;">{{c[34]}}</td>
<td style="width: 5.57182%; height: 18px;">{{f[34]}}</td>
<td style="width: 4.36565%; height: 18px;">{{dm[34]}}</td>
<td style="width: 5.0513%; height: 18px;">{{r[34]}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 1.22094%; height: 18px; text-align: center;">36</td>
<td style="width: 21.8416%; height: 18px; background-color: {{background_color}};">{{cliente[35]}}</td>
<td style="width: 9.33849%; height: 18px;">{{cpf[35]}}</td>
<td style="width: 9.35344%; height: 18px;">{{tel[35]}}</td>
<td style="width: 6.13493%; height: 18px;">{{comissario[35]}}</td>
<td style="width: 4.25743%; height: 18px;">{{c[35]}}</td>
<td style="width: 5.57182%; height: 18px;">{{f[35]}}</td>
<td style="width: 4.36565%; height: 18px;">{{dm[35]}}</td>
<td style="width: 5.0513%; height: 18px;">{{r[35]}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 1.22094%; height: 18px; text-align: center;">37</td>
<td style="width: 21.8416%; height: 18px; background-color: {{background_color}};">{{cliente[36]}}</td>
<td style="width: 9.33849%; height: 18px;">{{cpf[36]}}</td>
<td style="width: 9.35344%; height: 18px;">{{tel[36]}}</td>
<td style="width: 6.13493%; height: 18px;">{{comissario[36]}}</td>
<td style="width: 4.25743%; height: 18px;">{{c[36]}}</td>
<td style="width: 5.57182%; height: 18px;">{{f[36]}}</td>
<td style="width: 4.36565%; height: 18px;">{{dm[36]}}</td>
<td style="width: 5.0513%; height: 18px;">{{r[36]}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 1.22094%; height: 18px; text-align: center;">38</td>
<td style="width: 21.8416%; height: 18px; background-color: {{background_color}};">{{cliente[37]}}</td>
<td style="width: 9.33849%; height: 18px;">{{cpf[37]}}</td>
<td style="width: 9.35344%; height: 18px;">{{tel[37]}}</td>
<td style="width: 6.13493%; height: 18px;">{{comissario[37]}}</td>
<td style="width: 4.25743%; height: 18px;">{{c[37]}}</td>
<td style="width: 5.57182%; height: 18px;">{{f[37]}}</td>
<td style="width: 4.36565%; height: 18px;">{{dm[37]}}</td>
<td style="width: 5.0513%; height: 18px;">{{r[37]}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 1.22094%; height: 18px; text-align: center;">39</td>
<td style="width: 21.8416%; height: 18px; background-color: {{background_color}};">{{cliente[38]}}</td>
<td style="width: 9.33849%; height: 18px;">{{cpf[38]}}</td>
<td style="width: 9.35344%; height: 18px;">{{tel[38]}}</td>
<td style="width: 6.13493%; height: 18px;">{{comissario[38]}}</td>
<td style="width: 4.25743%; height: 18px;">{{c[38]}}</td>
<td style="width: 5.57182%; height: 18px;">{{f[38]}}</td>
<td style="width: 4.36565%; height: 18px;">{{dm[38]}}</td>
<td style="width: 5.0513%; height: 18px;">{{r[38]}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 1.22094%; height: 18px; text-align: center;">40</td>
<td style="width: 21.8416%; height: 18px; background-color: {{background_color}};">{{cliente[39]}}</td>
<td style="width: 9.33849%; height: 18px;">{{cpf[39]}}</td>
<td style="width: 9.35344%; height: 18px;">{{tel[39]}}</td>
<td style="width: 6.13493%; height: 18px;">{{comissario[39]}}</td>
<td style="width: 4.25743%; height: 18px;">{{c[39]}}</td>
<td style="width: 5.57182%; height: 18px;">{{f[39]}}</td>
<td style="width: 4.36565%; height: 18px;">{{dm[39]}}</td>
<td style="width: 5.0513%; height: 18px;">{{r[39]}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 1.22094%; text-align: center; height: 18px;">&nbsp;</td>
<td style="width: 21.8416%; height: 18px;">&nbsp;</td>
<td style="width: 9.33849%; height: 18px;">&nbsp;</td>
<td style="width: 9.35344%; height: 18px;">&nbsp;</td>
<td style="width: 6.13493%; height: 18px;">&nbsp;</td>
<td style="width: 4.25743%; height: 18px;">&nbsp;</td>
<td style="width: 5.57182%; height: 18px;">&nbsp;</td>
<td style="width: 4.36565%; height: 18px;">&nbsp;</td>
<td style="width: 5.0513%; height: 18px;">&nbsp;</td>
</tr>
<tr style="height: 18px;">
<td style="width: 67.1356%; border-style: solid; height: 18px; background-color: #808080; border-color: #000000; text-align: center;" colspan="9">STAFFS</td>
</tr>
<tr style="height: 18px;">
<td style="width: 1.22094%; text-align: center; height: 18px;">&nbsp;</td>
<td style="width: 21.8416%; height: 18px; text-align: center;">NOME</td>
<td style="width: 9.33849%; height: 18px; text-align: center;">CPF</td>
<td style="width: 9.35344%; height: 18px; text-align: center;">ASSINATURA</td>
<td style="width: 6.13493%; height: 18px; text-align: center;">BAT</td>
<td style="width: 4.25743%; height: 18px; text-align: center;">TUR</td>
<td style="width: 5.57182%; height: 18px; text-align: center;">CURSO</td>
<td style="width: 4.36565%; height: 18px; text-align: center;">FOTO</td>
<td style="width: 5.0513%; height: 18px; text-align: center;">&nbsp;</td>
</tr>
<tr style="height: 18px;">
<td style="width: 1.22094%; text-align: center; height: 18px;">1</td>
<td style="width: 21.8416%; height: 18px;">&nbsp;</td>
<td style="width: 9.33849%; height: 18px;">&nbsp;</td>
<td style="width: 9.35344%; height: 18px;">&nbsp;</td>
<td style="width: 6.13493%; height: 18px;">&nbsp;</td>
<td style="width: 4.25743%; height: 18px;">&nbsp;</td>
<td style="width: 5.57182%; height: 18px;">&nbsp;</td>
<td style="width: 4.36565%; height: 18px;">&nbsp;</td>
<td style="width: 5.0513%; height: 18px;">&nbsp;</td>
</tr>
<tr style="height: 18px;">
<td style="width: 1.22094%; text-align: center; height: 18px;">2</td>
<td style="width: 21.8416%; height: 18px;">&nbsp;</td>
<td style="width: 9.33849%; height: 18px;">&nbsp;</td>
<td style="width: 9.35344%; height: 18px;">&nbsp;</td>
<td style="width: 6.13493%; height: 18px;">&nbsp;</td>
<td style="width: 4.25743%; height: 18px;">&nbsp;</td>
<td style="width: 5.57182%; height: 18px;">&nbsp;</td>
<td style="width: 4.36565%; height: 18px;">&nbsp;</td>
<td style="width: 5.0513%; height: 18px;">&nbsp;</td>
</tr>
<tr style="height: 18px;">
<td style="width: 1.22094%; text-align: center; height: 18px;">3</td>
<td style="width: 21.8416%; height: 18px;">&nbsp;</td>
<td style="width: 9.33849%; height: 18px;">&nbsp;</td>
<td style="width: 9.35344%; height: 18px;">&nbsp;</td>
<td style="width: 6.13493%; height: 18px;">&nbsp;</td>
<td style="width: 4.25743%; height: 18px;">&nbsp;</td>
<td style="width: 5.57182%; height: 18px;">&nbsp;</td>
<td style="width: 4.36565%; height: 18px;">&nbsp;</td>
<td style="width: 5.0513%; height: 18px;">&nbsp;</td>
</tr>
<tr style="height: 18px;">
<td style="width: 1.22094%; text-align: center; height: 18px;">4</td>
<td style="width: 21.8416%; height: 18px;">&nbsp;</td>
<td style="width: 9.33849%; height: 18px;">&nbsp;</td>
<td style="width: 9.35344%; height: 18px;">&nbsp;</td>
<td style="width: 6.13493%; height: 18px;">&nbsp;</td>
<td style="width: 4.25743%; height: 18px;">&nbsp;</td>
<td style="width: 5.57182%; height: 18px;">&nbsp;</td>
<td style="width: 4.36565%; height: 18px;">&nbsp;</td>
<td style="width: 5.0513%; height: 18px;">&nbsp;</td>
</tr>
<tr style="height: 18px;">
<td style="width: 1.22094%; text-align: center; height: 18px;">5</td>
<td style="width: 21.8416%; height: 18px;">&nbsp;</td>
<td style="width: 9.33849%; height: 18px;">&nbsp;</td>
<td style="width: 9.35344%; height: 18px;">&nbsp;</td>
<td style="width: 6.13493%; height: 18px;">&nbsp;</td>
<td style="width: 4.25743%; height: 18px;">&nbsp;</td>
<td style="width: 5.57182%; height: 18px;">&nbsp;</td>
<td style="width: 4.36565%; height: 18px;">&nbsp;</td>
<td style="width: 5.0513%; height: 18px;">&nbsp;</td>
</tr>
<tr style="height: 18px;">
<td style="width: 1.22094%; text-align: center; height: 18px;">6</td>
<td style="width: 21.8416%; height: 18px;">&nbsp;</td>
<td style="width: 9.33849%; height: 18px;">&nbsp;</td>
<td style="width: 9.35344%; height: 18px;">&nbsp;</td>
<td style="width: 6.13493%; height: 18px;">&nbsp;</td>
<td style="width: 4.25743%; height: 18px;">&nbsp;</td>
<td style="width: 5.57182%; height: 18px;">&nbsp;</td>
<td style="width: 4.36565%; height: 18px;">&nbsp;</td>
<td style="width: 5.0513%; height: 18px;">&nbsp;</td>
</tr>
<tr style="height: 18px;">
<td style="width: 1.22094%; text-align: center; height: 18px;">7</td>
<td style="width: 21.8416%; height: 18px;">&nbsp;</td>
<td style="width: 9.33849%; height: 18px;">&nbsp;</td>
<td style="width: 9.35344%; height: 18px;">&nbsp;</td>
<td style="width: 6.13493%; height: 18px;">&nbsp;</td>
<td style="width: 4.25743%; height: 18px;">&nbsp;</td>
<td style="width: 5.57182%; height: 18px;">&nbsp;</td>
<td style="width: 4.36565%; height: 18px;">&nbsp;</td>
<td style="width: 5.0513%; height: 18px;">&nbsp;</td>
</tr>
<tr style="height: 18px;">
<td style="width: 1.22094%; text-align: center; height: 18px;">8</td>
<td style="width: 21.8416%; height: 18px;">&nbsp;</td>
<td style="width: 9.33849%; height: 18px;">&nbsp;</td>
<td style="width: 9.35344%; height: 18px;">&nbsp;</td>
<td style="width: 6.13493%; height: 18px;">&nbsp;</td>
<td style="width: 4.25743%; height: 18px;">&nbsp;</td>
<td style="width: 5.57182%; height: 18px;">&nbsp;</td>
<td style="width: 4.36565%; height: 18px;">&nbsp;</td>
<td style="width: 5.0513%; height: 18px;">&nbsp;</td>
</tr>
<tr style="height: 18px;">
<td style="width: 1.22094%; text-align: center; height: 18px;">9</td>
<td style="width: 21.8416%; height: 18px;">&nbsp;</td>
<td style="width: 9.33849%; height: 18px;">&nbsp;</td>
<td style="width: 9.35344%; height: 18px;">&nbsp;</td>
<td style="width: 6.13493%; height: 18px;">&nbsp;</td>
<td style="width: 4.25743%; height: 18px;">&nbsp;</td>
<td style="width: 5.57182%; height: 18px;">&nbsp;</td>
<td style="width: 4.36565%; height: 18px;">&nbsp;</td>
<td style="width: 5.0513%; height: 18px;">&nbsp;</td>
</tr>
<tr style="height: 18px;">
<td style="width: 1.22094%; text-align: center; height: 18px;">10</td>
<td style="width: 21.8416%; height: 18px;">&nbsp;</td>
<td style="width: 9.33849%; height: 18px;">&nbsp;</td>
<td style="width: 9.35344%; height: 18px;">&nbsp;</td>
<td style="width: 6.13493%; height: 18px;">&nbsp;</td>
<td style="width: 4.25743%; height: 18px;">&nbsp;</td>
<td style="width: 5.57182%; height: 18px;">&nbsp;</td>
<td style="width: 4.36565%; height: 18px;">&nbsp;</td>
<td style="width: 5.0513%; height: 18px;">&nbsp;</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
